name: Test python repo

on:
  workflow_call:
    inputs:
      platform:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: 'The platform to run the tests on'
      python-version:
        required: false
        type: string
        default: '3.x'
        description: 'The python version to run the tests on'
      use-qt:
        required: false
        type: boolean
        default: false
        description: 'Whether tests require a Qt environment'
      use-tox:
        required: false
        type: boolean
        default: false
        description: 'Whether to use tox to run the tests'
      testing-extras:
        required: false
        type: string
        default: 'test'
        description: 'Comma-separated extras to install for testing'
      cancel-in-progress:
        required: false
        type: boolean
        default: true
        description: 'Whether to cancel in-progress workflows'

jobs:

  test:
    name: ${{ inputs.platform }} (${{ inputs.python-version }})
    runs-on: ${{ inputs.platform }}
    env:
      DISPLAY: ':99.0'

    steps:
      - name: Cancel Previous Runs
        if: inputs.cancel-in-progress
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          # cache: 'pip'
          # cache-dependency-path: 'pyproject.toml'

      - uses: tlambert03/setup-qt-libs@v1.4
        if: inputs.use-qt
      
      - name: Setup xvfb
        if: inputs.use-qt && runner.os == 'Linux'
        run: |
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid \
            --make-pidfile --background --exec /usr/bin/Xvfb \
            -- :99 -screen 0 1920x1200x24 -ac +extension GLX

      - name: Install dependencies
        run: |
          python -m pip install -U pip
          if [ ${{ inputs.use-tox }} == 'true' ]; then
            python -m pip install setuptools tox tox-gh-actions
          else
            python -m pip install -e .[${{ inputs.testing-extras }}]
          fi

      - name: Test with tox
        if: inputs.use-tox
        run: |
          python -m tox
        env:
          PLATFORM: ${{ inputs.platform }}

      - name: Test without tox
        if: inputs.use-tox == false
        run: |
          python -m pytest -v --cov --cov-report=xml --cov-report=term-missing

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
