name: Test python repo

on:
  workflow_call:
    inputs:
      platform:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: 'The platform to run the tests on'
      python-version:
        required: false
        type: string
        default: '3.x'
        description: 'The python version to run the tests on'
      setup-qt:
        required: false
        type: boolean
        default: false
        description: 'Whether tests require a Qt environment'
      use-tox:
        required: false
        type: boolean
        default: false
        description: 'Whether to use tox to run the tests'
      cancel-in-progress:
        required: false
        type: boolean
        default: true
        description: 'Whether to cancel in-progress workflows'

jobs:

  test:
    name: ${{ inputs.platform }} (${{ inputs.python-version }})
    runs-on: ${{ inputs.platform }}

    steps:
      - name: Cancel Previous Runs
        if: inputs.cancel-in-progress
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          # cache: 'pip'
          # cache-dependency-path: 'pyproject.toml'

      - name: Test with tox
        if: inputs.use-tox
        run: |
          python -m pip install -U pip
          python -m pip install setuptools tox tox-gh-actions
          python -m tox
        env:
          PLATFORM: ${{ inputs.platform }}

      - name: Upload code coverage
        uses: codecov/codecov-action@v3
