name: Test python repo

on:
  workflow_call:
    inputs:
      platform:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: 'The platform to run the tests on'
      python-version:
        required: false
        type: string
        default: '3.x'
        description: 'The python version to use'
      use-qt:
        required: false
        type: boolean
        default: false
        description: 'Whether tests require a Qt environment'
      use-tox:
        required: false
        type: boolean
        default: false
        description: 'Whether to use tox to install deps and run tests'
      testing-extras:
        required: false
        type: string
        default: 'test'
        description: 'Comma-separated extras to install for testing'
      install-pre-releases:
        required: false
        type: boolean
        default: false
        description: 'Whether to install prerelease versions of dependencies'
      pytest-args:
        required: false
        type: string
        default: '-v --color yes --cov --cov-report=xml --cov-report=term-missing'
        description: 'Additional arguments to pass to pytest (if use-tox is false)'
      cancel-in-progress:
        required: false
        type: boolean
        default: true
        description: 'Whether to cancel in-progress workflows'

jobs:

  test:
    name: Test ${{ inputs.platform }} (${{ inputs.python-version }})
    runs-on: ${{ inputs.platform }}
    env:
      DISPLAY: ':99.0'

    steps:
      - name: Cancel Previous Runs
        if: inputs.cancel-in-progress
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0  # for setuptools_scm

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          cache: 'pip'
          cache-dependency-path: 'pyproject.toml'

      - uses: tlambert03/setup-qt-libs@v1.6
        if: inputs.use-qt
      
      - name: Setup xvfb
        if: inputs.use-qt && runner.os == 'Linux'
        run: |
          /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid \
            --make-pidfile --background --exec /usr/bin/Xvfb \
            -- :99 -screen 0 1920x1200x24 -ac +extension GLX

      - name: Install dependencies
        shell: bash
        run: |
          python -m pip install -U pip
          if [ ${{ inputs.use-tox }} == "false" ]; then
            if [ ${{ inputs.install-pre-releases }} == "true" ]; then
              python -m pip install -e .[${{ inputs.testing-extras }}] --pre
            else
              python -m pip install -e .[${{ inputs.testing-extras }}]
            fi
          else
            python -m pip install setuptools tox tox-gh-actions
          fi

      - name: Run tests
        shell: bash
        run: |
          if [ ${{ inputs.use-tox }} == "false" ]; then
            python -m pytest ${{ inputs.pytest-args }}
          else
            if [ ${{ inputs.install-pre-releases }} == "true" ]; then
              python -m tox -v
            else
              python -m tox -v --pre
            fi
          fi
        env:
          PLATFORM: ${{ inputs.platform }}

      - name: Upload code coverage
        uses: codecov/codecov-action@v3

      - name: Report Failures
        if: ${{ failure() }}
        uses: JasonEtco/create-an-issue@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PLATFORM: ${{ inputs.platform }}
          PYTHON: ${{ inputs.python-version }}
          RUN_ID: ${{ github.run_id }}
          TITLE: '[test-bot] pip install --pre is failing'
        # with:
        #   filename: .github/TEST_FAIL_TEMPLATE.md
        #   update_existing: true
