name: Test python repo

on:
  workflow_call:
    inputs:
      platform:
        required: false
        type: string
        default: 'ubuntu-latest'
        description: 'The platform to run the tests on'
      python-version:
        required: false
        type: string
        default: '3.x'
        description: 'The python version to run the tests on'
      setup-qt:
        required: false
        type: boolean
        default: false
        description: 'Whether tests require a Qt environment'
      use-tox:
        required: false
        type: boolean
        default: false
        description: 'Whether to use tox to run the tests'

jobs:
  # check-manifest:
  #   name: Check Manifest
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v3
  #     - uses: actions/setup-python@v4
  #       with:
  #         python-version: "3.x"
  #     - run: pip install check-manifest && check-manifest

  test:
    # name: ${{ inputs.platform }} (${{ inputs.python-version }})
    runs-on: ${{ inputs.platform }}

    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.11.0
        with:
          access_token: ${{ github.token }}

      - uses: actions/checkout@v3

      - name: Set up Python ${{ inputs.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}
          # cache: 'pip'
          # cache-dependency-path: 'pyproject.toml'

      - name: Install dependencies
        if: ${{ inputs.use-tox == true }}
        run: |
          python -m pip install -U pip
          python -m pip install setuptools tox tox-gh-actions

      - name: Test with tox
        if: ${{ inputs.use-tox == true }}
        run: python -m tox
        env:
          PLATFORM: ${{ inputs.platform }}

      - name: Coverage
        uses: codecov/codecov-action@v3
